<h1>Mothers and children</h1>
<%= link_to 'Mothers', mother1s_path, :class=>"btn btn-danger"%>
<%= link_to 'Children', children_path, :class=>"btn btn-danger"%>
<h2>Bouquet</h2>
<%= link_to 'Bouquets', bouquets_path, :class=>"btn btn-danger" %>
